.swmp * {
    background: none;
    border: 0;
    outline: 0;
    margin: 0;
    padding: 0;
    line-height: 1;
    height: unset;
    width: unset;
    font-family: -apple-system,BlinkMacSystemFont,URW Gothic, MS PGothic, Helvetica, sans-serif;
    font-size: 11pt;
    text-indent: 4px;
    letter-spacing: 1px;
    color: var(--swmp-text-color);

}


/* Default Theme - MPC Light */

div.swmp {
    --swmp-background: #e6e6e6;
    --swmp-container-border: #000;
    --swmp-container-box-shadow: none;
    --swmp-player-container-background: #000;
    --swmp-controls-background: var(--swmp-background);
    --swmp-text-color: #000;
    --swmp-button-background: var(--swmp-background);
    --swmp-button-mask-color: #000;

    --swmp-seek-height: 30px;
    --swmp-seek-offset: 10px;

    --swmp-seek-background: var(--swmp-controls-background);
    --swmp-seek-progress-color: lightgrey;
    --swmp-seek-border-left: darkgray;
    --swmp-seek-border-top: darkgray;
    --swmp-seek-border-right: #fff;
    --swmp-seek-border-bottom: #fff;

    --swmp-range-thumb-color: var(--swmp-controls-background);
    --swmp-range-thumb-border-left: #fff;
    --swmp-range-thumb-border-top: #fff;
    --swmp-range-thumb-border-right: #000;
    --swmp-range-thumb-border-bottom: #000;

    --swmp-btn-border-left: #fff;
    --swmp-btn-border-top: #fff;
    --swmp-btn-border-right: #000;
    --swmp-btn-border-bottom: #000;

    --swmp-btn-border-left-active: #000;
    --swmp-btn-border-top-active: #000;
    --swmp-btn-border-right-active: #fff;
    --swmp-btn-border-bottom-active: #fff;

}

/* MPC Dark */

div.swmp.swmp-theme-dark, div.swmp.swmp-theme-dark * {
    --swmp-background: #333;
    --swmp-container-border: #000;
    --swmp-controls-background: var(--swmp-background);
    --swmp-text-color: #888;
    --swmp-button-background: var(--swmp-background);
    --swmp-button-mask-color: #888;

    --swmp-seek-height: 30px;
    --swmp-seek-offset: 10px;

    --swmp-seek-progress-color: #555;
    --swmp-seek-border-left: #1a1a1a;
    --swmp-seek-border-top: #1a1a1a;
    --swmp-seek-border-right: #464646;
    --swmp-seek-border-bottom: #464646;

    --swmp-range-thumb-color: var(--swmp-background);
    --swmp-range-thumb-border-left: #777;
    --swmp-range-thumb-border-top: #777;
    --swmp-range-thumb-border-right: #000;
    --swmp-range-thumb-border-bottom: #000;

    --swmp-btn-border-left: #777;
    --swmp-btn-border-top: #777;
    --swmp-btn-border-right: #000;
    --swmp-btn-border-bottom: #000;

    --swmp-btn-border-left-active: #000;
    --swmp-btn-border-top-active: #000;
    --swmp-btn-border-right-active: #777;
    --swmp-btn-border-bottom-active: #777;
}

/* Kurisumasu */

div.swmp.swmp-theme-kurisu, div.swmp.swmp-theme-kurisu * {
    --swmp-background: #a44242;
    --swmp-text-color: #fff;
    --swmp-button-mask-color: #fff;
}

/* Blue Moon */

div.swmp.swmp-theme-bluemoon, div.swmp.swmp-theme-bluemoon * {
    --swmp-background: #272d37;
    --swmp-text-color: #eee;
    --swmp-button-mask-color: #d3d3d3;
    --swmp-controls-background: #49525D;
    --swmp-btn-border-left: #DDDDDD;
    --swmp-btn-border-top: #DDDDDD;
    --swmp-range-thumb-border-top: #ddd;
    --swmp-range-thumb-color: #272d37;
}

div.swmp.swmp-container {
    position: relative;
    display: inline-flex;
    flex-direction: column;
    padding: 2px;
    background: var(--swmp-background);
    font-family: -apple-system,BlinkMacSystemFont,URW Gothic, MS PGothic, Helvetica, sans-serif;
    font-size: 11pt;
    text-indent: 4px;
    letter-spacing: 1px;
    color: var(--swmp-text-color);
    border: 1px solid var(--swmp-container-border);
    line-height: 1; /* futaba/buri themes */
    z-index: 100;
    overflow: hidden;
    min-width: 320px;
    width: auto;
    outline: none;
    box-shadow: var(--swmp-container-box-shadow);
}

div.swmp.swmp-window.swmp-window-container {
    display: flex;
    justify-content: space-between;
    padding-bottom: 2px;
}

div.swmp.swmp-fullscreen div.swmp-window.swmp-window-container, div.swmp.swmp-fullscreen div.swmp-settings.swmp-settings-container {
    display: none;
}

div.swmp.swmp-minimized div.swmp-player-container {
    display: none;
}

div.swmp.swmp-fullscreen div.swmp-player-container {
    display: block;
    width: 100vw; /* my god safari fuck off */
    height: 100vh;
}

span.swmp.swmp-window.swmp-window-titlebar {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-user-select: none;
    user-select: none;
    position: relative;
    margin: auto;
    cursor: move;
    width: 100%;
    text-align: center;
    display: block;
}

span.swmp.swmp-window.swmp-window-title {
    display: block;
    max-width: 260px;
    text-overflow: ellipsis;
    overflow: hidden;
    margin: auto;
    line-height: 1.5;
    margin-bottom: -2px;
}

span.swmp.swmp-window.swmp-window-buttons-contain {
    display: flex;
    flex: 0 1 auto;
    margin-right: -2px;
}

div.swmp .swmp-player-container {
    display: flex;
    position: relative;
    height: 100%;
    background: var(--swmp-player-container-background);
}

/*div.swmp.swmp-container.swmp-audio {
    display: block;
}*/

div.swmp.swmp-container.swmp-fullscreen {
    background: #000;
    position: unset!important; /* more safari behavior junk */
    width: 100%;
    height: auto;

}

div.swmp.swmp-container.swmp-maximized {
    position: fixed!important;
    top: 0!important;
    bottom: 0!important;
    right: 0!important;
    left: 0!important;
    transition: all 0.2s 0s ease-out;
}

div.swmp.swmp-container.swmp-maximized iframe, div.swmp.swmp-container.swmp-maximized video, div.swmp.swmp-container.swmp-maximized audio {
    position: absolute;
    max-width:100%;
    max-height:100%;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

div.swmp.swmp-container.swmp-fullscreen iframe, div.swmp.swmp-container.swmp-fullscreen video, div.swmp.swmp-container.swmp-fullscreen audio {
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
}

div.swmp video {
    background: #000;
    max-width: 500px;
    max-height: 500px;
    width: auto;
    height: auto;
    margin: auto;  
}

div.swmp iframe {
    background: #000;
    min-width: 420px;
    min-height: 236px;
    max-width: 500px;
    max-height: 500px;
    width: auto;
    height: auto;
    margin: auto;
    pointer-events: none;
}

div.swmp audio {
    min-width: 320px;
    min-height: 40px;
}

div.swmp.swmp-controls {
    bottom: 0;
    left: 0;
    background: var(--swmp-controls-background);
    width: 100%;
    display: flex;
    flex-direction: column;
}

div.swmp.swmp-fullscreen div.swmp.swmp-controls {
    position: absolute;
    opacity: 0;
    transition: opacity 0.5s 0s ease-out;
}

div.swmp.swmp-fullscreen.swmp-movingmouse div.swmp.swmp-controls {
    opacity: 1;
    position: absolute;
    transition: none;
}

div.swmp.swmp-fullscreen {
    cursor: none;
}

div.swmp.swmp-fullscreen.swmp-movingmouse {
    cursor: unset;
}

div.swmp.swmp-controls span.swmp-seek-container {
    display: flex;
    width: calc(100% - 6px);
    height: var(--swmp-seek-height);
    margin: auto;
    /*position: relative;*/
}

div.swmp.swmp-controls span.swmp-seek-container input.swmp.swmp-seeker {
    width: calc(100% - var(--swmp-seek-offset));
    left: calc(var(--swmp-seek-offset) / 2);
    -webkit-appearance: none;
    background: #0000;
    padding: 0;
    margin: 0;
    height: var(--swmp-seek-height);
    position: absolute;
    z-index: 1;
    cursor: pointer;
    -webkit-margin-top: -14px; /* webkit */
}

input[type="range"].swmp {
    background: 0 0!important;
    border: 0!important;
    outline: 0!important;
}

span.swmp input[type="range"]::-webkit-slider-runnable-track {
    width: 100%;
    height: 6px;
    cursor: pointer;
    background: #0000;
    border-radius: 0px;
    border: 1px solid #000;
    border-left-color: var(--swmp-seek-border-left);
    border-top-color: var(--swmp-seek-border-top);
    border-right-color: var(--swmp-seek-border-right);
    border-bottom-color: var(--swmp-seek-border-bottom);
}

span.swmp input[type="range"]::-moz-range-track {
    width: 100%;
    height: 6px;
    cursor: pointer;
    background: #0000;
    border-radius: 0px;
    border: 1px solid #000;
    border-left-color: var(--swmp-seek-border-left);
    border-top-color: var(--swmp-seek-border-top);
    border-right-color: var(--swmp-seek-border-right);
    border-bottom-color: var(--swmp-seek-border-bottom);
}

span.swmp progress::-webkit-progress-bar {
    background: #0000;
}

span.swmp progress::-webkit-progress-value {
    background: var(--swmp-seek-progress-color);
}

span.swmp progress::-moz-progress-bar {
    background: var(--swmp-seek-progress-color);
}

span.swmp input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 4px solid var(--swmp-range-thumb-color);
    height: 8px;
    width: 2px;
    border-radius: 0;
    padding: 4px 3px;
    background: #0000;
    background: linear-gradient(180deg, var(--swmp-seek-border-top) 10%, var(--swmp-seek-background) 10%, var(--swmp-seek-background) 90%, var(--swmp-seek-border-bottom) 90%);
    cursor: pointer;
    margin-top: -6px;
    box-shadow: 1px 1px 0px 0px var(--swmp-range-thumb-border-bottom), -1px -1px 0px 0px var(--swmp-range-thumb-border-top);
}

span.swmp input[type="range"]::-moz-range-thumb {
    appearance: none;
    border: 4px solid var(--swmp-range-thumb-color);
    height: 8px;
    width: 6px;
    border-radius: 0;
    /*background: #0000;*/
    background: linear-gradient(180deg, var(--swmp-seek-border-top) 10%, var(--swmp-seek-background) 10%, var(--swmp-seek-background) 90%, var(--swmp-seek-border-bottom) 90%);
    cursor: pointer;
    box-shadow: 1px 1px 0px 0px var(--swmp-range-thumb-border-bottom), -1px -1px 0px 0px var(--swmp-range-thumb-border-top);
}

span.swmp input[type="range"]::-webkit-range-progress {
    height: 6px;
    background-color: #0000
}

span.swmp input[type="range"]::-moz-range-progress {
    height: 6px;
    background-color: #0000 
}

span.swmp progress.swmp-volume {
    width: 50px;
    position: absolute;
    height: 6px;
    right: 8px;
    border: none;
    bottom: 7px;
    z-index: 0;
    background: var(--swmp-seek-background);
}

span.swmp input.swmp-volume[type="range"] {
    -webkit-appearance: none;
    background: #0000;
    padding: 0;
    margin-left: 2px;
    cursor: pointer;
    position: relative;
}

span.swmp input.swmp-volume[type="range"]::-webkit-slider-thumb {
    padding: 4px 2px;
    width: 2px;
}

span.swmp input.swmp-volume[type="range"]::-moz-range-thumb {
    padding: 0 1px;
    width: 1px;
}

div.swmp.swmp-controls span.swmp-seek-container progress.swmp-progress {
    width: 100%;
    height: 6px;
    z-index: 0;
    position: relative;
    background: var(--swmp-seek-background);
    bottom: -12px;
    /*left: 5px;*/
    border: none;
}

span.swmp.swmp-row-bottom {
    display: flex;
    flex-direction: row;
    height: 20px;
    margin-bottom: 2px;
}

div.swmp.swmp-fullscreen span.swmp.swmp-row-bottom {
    padding-bottom: 5px;
}

span.swmp.swmp-buttons-container {
    height: 100%;
}

select.swmp.swmp-selector {
    -webkit-appearance: none;
    appearance: none;
    background: var(--swmp-button-background);
    border: 1px solid var(--swmp-text-color);
    color: var(--swmp-text-color);
    outline: none;
    border-radius: 0;
    width: 85px;
    overflow: hidden;
    text-overflow: ellipsis;
    letter-spacing: 0;
    text-indent: 0;
}

label.swmp.swmp-settings {
    display: inline-flex;
    flex-direction: row-reverse;
}

input.swmp.swmp-settings {
    margin: -2px 0 0 4px;
    border: 1px solid var(--swmp-text-color);
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    width: 14px;
    height: 14px;
    background: var(--swmp-controls-background);
}

input.swmp.swmp-settings:checked {
    outline: 5px inset var(--swmp-text-color);
    outline-offset: -8px;
}

button.swmp.swmp-button {
    min-width: 26px;
    height: 100%;
    padding: 0 4px;
    display: inline-block;
    cursor: pointer;
    margin-left: 2px;
    margin-right: 2px;
    color: var(--swmp-button-mask-color);
    background: var(--swmp-button-background);
    border: 1px solid;
    border-bottom-color: var(--swmp-btn-border-bottom);
    border-right-color: var(--swmp-btn-border-right);
    border-top-color: var(--swmp-btn-border-top);
    border-left-color: var(--swmp-btn-border-left);
    filter: unset; /* 4chan tomorrow theme buttons */
}

button.swmp.swmp-button span {
    display: block;
    width: 16px;
    height: 16px;
    image-rendering: pixelated;
    background-repeat: no-repeat;
    background-color: var(--swmp-button-mask-color);
    -webkit-mask-image: var(--image);
    mask-image: var(--image);
    -webkit-mask-size: 16px;
    mask-size: 16px;
    /*-webkit-mask-position-x: -2px;
    mask-position-x: 0;*/
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;

}

button.swmp.swmp-button:active span {
    transform: translateX(1px) translateY(1px);
}

span.swmp.swmp-window button {
    height: 20px;
    min-width: 22px;
    width: 22px;
}

button.swmp.swmp-button.swmp-playlist span {
    --image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwAgMAAAAqbBEUAAAADFBMVEUAAAAAAAAAAAAAAAA16TeWAAAABHRSTlMARP/Eyy24XQAAAHxJREFUeJzN0MENgCAMBVBkHKdgHqdhCGLCBxMODsAIxomkLQca4h0OlBcaaGvMWsvRtvFxN5mCLQJ4ApwgMLwAlZA6bgIeQbtqSB0XoSUw4AixIxNQBImRBTh5hwC/UGkvP3PMT4+fqnLGQiO3EObmVNvjQNSoONgqWGt96g97WXTz3RYAAAAASUVORK5CYII=);
}

button.swmp.swmp-button.swmp-playlist.swmp-playlist-prev span {
    transform: rotate(180deg);
}

button.swmp.swmp-button.swmp-window-minimize span {
    --image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAARElEQVRYR+3V0Q0AMAQFQPYfuv7apAPg4yzguQQZw5XD/UMAAgQIECCwTuA0fcc7+C8gAIFxgaYleG3W3QECBAgQaBcokVQGIRA6KiEAAAAASUVORK5CYII=');
    margin-top: 2px;
    -webkit-mask-size: 12px;
    mask-size: 12px;
}

button.swmp.swmp-button.swmp-window-maximize span {
    --image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAANUlEQVQ4T2NkoBAwQvX/J9McRqobADOQkINgLsZwwagBDAyjYUCFMCCUAtHlqZcXSLUZrh4AU/cYEVH9Rd0AAAAASUVORK5CYII=');
    margin-top: 2px;
    -webkit-mask-size: 12px;
    mask-size: 12px;
}

button.swmp.swmp-button.swmp-window-close span {
    --image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAACXBIWXMAAAsTAAALEwEAmpwYAAAA9UlEQVRoge2Y2woCMRBD5699dB79a7ViQfDWaZNMFybQR5NzVndhNatUKpUjxe/nctT+Vn59HsYItf+1nDFC7f9Ujhyh9v8qR4xQ+0fKV0bY/XYKDERHIvDtnGcEWBIyeIaEHB4pkQaPkEiHnwXxyc9QE/0mtrjyCgkZfA9SQg7fg5BIg+9ZkUiH75mR2Aa+xS0uwHyzC8Vt/ieULuG2fhOnSfgA3LYSDoBOk2DAyySi8O1RyXyzo8P3pEuswKdLIODTJJDwcgkGvFQiMhKBV/UPj0yXC/r/jiyXC/q/jsDKBf1vI/ByQf8jbtz/bdj9lUqlAs4N+1iFrUSwCpcAAAAASUVORK5CYII=');
    margin-top: 2px;
    -webkit-mask-size: 12px;
    mask-size: 12px;
}

button.swmp.swmp-button.swmp-playbutton span {
    --image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAA8klEQVRoQ+3aMQ6DMAyF4XDycjCGVmrPBRmapVLkJLafn1GRMiHB/+EpEVtJfm3J+8vtAO86kb2uI8tkfidwfsM/WSA9QBsAPUQC0ENGAbSQWQAdZBVAA9ECwiFWgDCINQAO8QLAIN4AdwgK4AZBA8whUQAzSDRADWEBLEPYANMQVsAwhB0gQrIAupA/AHR60d2bs09APFRgBYjhbfJsgOFwNsB0OAtgOTwaoA6PApiFowHm4SiAW7g3wD3cCwALtwbAw60AYeFaQHj4KoAmfBZAFz4KoA2XAPThPcCz3njU9QJtFdWvud2vBuovgn5A+glcJSF8MQrukbIAAAAASUVORK5CYII=');
}

button.swmp.swmp-button.swmp-playbutton.swmp-playing span {
    --image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAAtUlEQVRoQ+2Y2w6AIAxD5f8/2kuCRgiJbdjDMMfnxUE5o9WyLf6Uxde//W4D+8SJuGKE9OqbhrxUFCGkFxt4qQ1CInpX2SMWCIGQwc1ILBACIRBqFQixd1HUkF4MMUMs8taVESVGupFGDZpACIROBTCy5tOsMhGiijiMIb2IEkQJkTeihCAUUUIQ6S4hShAliBKVAZwYJzbuTn7ufoiFExs04cRpndg4xRyl7uDlWPWE+aTbwAFy3FQxPpmarQAAAABJRU5ErkJggg==');
}

button.swmp.swmp-button.swmp-stopbutton span {
    --image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAUUlEQVRYR+3Xuw0AIAwD0WQC2H9LJuDXICFqm+KywEWvc4b50tyP7x7oIpE6O221bgEeQAABBBBAAAEEEEAAAQTsAkW0jPYqei0jUf9k7ON0AGFsNSFlb3+JAAAAAElFTkSuQmCC');
}

button.swmp.swmp-button.swmp-fullscreen, .swmp.swmp-timer-container {
    margin-left: auto;
}

button.swmp.swmp-button.swmp-fullscreen span {
    --image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAP0lEQVQ4T2NkoBAwQvX/x2EOQXmCCghZgG4AjE/IYzAXMw4jAwj5Gac8sYFG0AB4qBLplOEYCwOfF4gMfExlADQ3GBE+X9RsAAAAAElFTkSuQmCC');
}

button.swmp.swmp-button.swmp-volume span {
    --image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwBAMAAAClLOS0AAAAG1BMVEVHcEwAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABp4cHsAAAACHRSTlMA1WZ/JZz0Rme5O54AAACGSURBVDjL5ZIxCoAwDEWjVXDs6OjUWXDxRl6hqyL2H9uqKKL5oKtmzIOXNvkiP6qc9LOSAAciAoiIAAcdRNEGmrtoBQb1TbSCFt3eK3CUSAr0KliUlQbEA1YFCTCqID47qMAAwztAVXS4x2RfffC8kusSw7O100Px0/Iw0PjwwPGI0lB/s2bRbW7duVgj2wAAAABJRU5ErkJggg==')
}

button.swmp.swmp-button.swmp-volume.swmp-min span {
    --image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAQAAAD9CzEMAAAAd0lEQVR42u2Xuw2AMAwFr41YhKmyVyp2YhZ6pwEJqJDgmRTv3PukV/gDxpjBKDRl+5mV0LWvbIRKUGjEXrJoZIIjGongHI1AcI3mc8E9mpeCeFwWWGCBBTqBfNj9MK4TFk7CykxZ+glnS8LhlXI6Akws/gCMGZAO8wpmVouK9vcAAAAASUVORK5CYII=')
}

button.swmp.swmp-button.swmp-volume.swmp-max span {
    --image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwBAMAAAClLOS0AAAAD1BMVEVHcEwAAAAAAAAAAAAAAADTrAj/AAAABXRSTlMA/4hD1KmiQHMAAACwSURBVDjL1ZPBDYMwDEV/nQzAIwwAVQdoNoD9l+qhgAyKW/VGfbHkp/wk9rf0//EI6sZ8Kqx5oj/U07IdgKcHlXfOcNAyVpCA4oU2oAqDF9pB9pcYK7hLAkYnBJKMUZqgc0IgaaJIFYp0Yw/JYJAy9CegBUZZA1SYlWA4gwxdExgUCWiA/mfQlgovj56bog/6loRN/Nz2w6CSG1Q82tgMoX1iw8UWDU0dr8HXxblwvAAGdxy1HX87LAAAAABJRU5ErkJggg==')
}

button.swmp.swmp-button.swmp-volume.swmp-mute span {
    --image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwBAMAAAClLOS0AAAAHlBMVEUAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAC3KG9qAAAACnRSTlMACZko0v9e9AufnFf4OQAAAJdJREFUeJzlkrsNgDAMRCMhL8BO6WluBmZha2LZDvmdRA1uUHi+S/xJ6Uexk/9bJuAEMcIabBmQQNLknFBw2KERFyMFcEEFalROMAlCaUYFWKoLBDU81wUdkCobgGbHDT0Q/06gSOJJA3hqeKmgd7BX0TpY5V2v2ibO3bW2L+YRg5on6KOtRT9AzdIy2PrwheMrmi4GPhk3sCZY/9usUnQAAAAASUVORK5CYII=')
}

span.swmp.swmp-volume-container {
    display: flex;
    width: 60px;
    height: 100%;
    position: relative;
}

span.swmp.swmp-volume-container input.swmp.swmp-volume.swmp-range {
    width: 50px;
    vertical-align: top;
    position: relative;
}

button.swmp.swmp-button:active {
    /*background: #cacaca;*/
    border-bottom-color: var(--swmp-btn-border-bottom-active);
    border-right-color: var(--swmp-btn-border-right-active);
    border-top-color: var(--swmp-btn-border-top-active);
    border-left-color: var(--swmp-btn-border-left-active);
}

button.swmp.swmp-button:focus {
    /*outline: 1px dotted var(--swmp-text-color);
    outline-offset: -3px;*/
}

span.swmp.swmp-timer-container {
    display: inline-table;
    margin-right: 5px;
    cursor: default;
}

span.swmp.swmp-timer-container span.swmp.swmp-time {
    display: table-cell;
    vertical-align: bottom;
}

#quote-preview { /* Put 4chan post hovers above player. Won't put player on z0 because other sites. */
    z-index: 1;
}


/* Modernity */ 

div.swmp.swmp-theme-modernity, div.swmp.swmp-theme-modernity * {
    --swmp-background: #222;
    --swmp-container-border: #222;
    --swmp-text-color: #eee;
    --swmp-button-mask-color: #eee;
    --swmp-controls-background: #222;
    --swmp-btn-border-left: #0000;
    --swmp-btn-border-top: #0000;
    --swmp-btn-border-right: #0000;
    --swmp-btn-border-bottom: #0000;
    --swmp-btn-border-left-active: #0000;
    --swmp-btn-border-top-active: #0000;
    --swmp-btn-border-right-active: #0000;
    --swmp-btn-border-bottom-active: #0000;
    --swmp-seek-background: #444;
    --swmp-seek-progress-color: #bbb;
    --swmp-seek-border-left: #444;
    --swmp-seek-border-top: #444;
    --swmp-seek-border-right: #444;
    --swmp-seek-border-bottom: #444;
    --swmp-container-box-shadow: 0px 0px 10px #000;
    font-family: Arial;
    font-weight: bold;
}

div.swmp.swmp-theme-modernity input[type="range"]::-moz-range-thumb {
    border: none;
    height: 8px;
    width: 8px;
    background: #eee;
    box-shadow: none;
    border-radius: 100%;
    padding: 4px;
}

div.swmp.swmp-theme-modernity input[type="range"]::-webkit-slider-thumb {
    border: none;
    height: 8px;
    width: 8px;
    background: #eee;
    box-shadow: none;
    border-radius: 100%;
    padding: 4px;
}